<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my experiance on Coding</title>
    <link rel="stylesheet" href="../static/css1.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">HOME PAGE</a>
                </li>
                <li>
                    <a href="/getq1">QUIZ</a>
                </li>
                <li>
                    <a href="/login">LOGIN PAGE</a>
                </li>
                <li>
                    <a href="/register">REGISTRATION</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="coding">
    <h3>I USE TO WONDER HOW PEOPLE USED TO MAKE GAMES WEBPAGES LIKE- WIKIPEDIA e.t.c
        THAT TIME I ASKED MY FATHER TO MAKE MY ENROLLEMENT IN CODING.
        I STARTED MY COURSE, FROM THE FIRST CLASS I STARTED LIKING CODING A LOT.
        I FINISHED 1 YEAR LEARNING CODING IT IS SUCH A GREAT OPPORTUNITY FOR YOU ALSO TO UNDERSTAND HOW THE GAMES AND WEBPAGES RUN.
        CODING IS SOMETHING THAT YOU WILL HAVE FUN FROM WHEN YOU START LEARNING.
        IT IS SO OVERWHELMING WHEN YOU LEARN OR SEE SOMETHING INTERESTING, CODING IS JUST THAT WHAT YOU CAN LEARN AND CREATE THINGS PEOPLE WILL SEE.
        WITH THE HELP OF CODING YOU CAN MAKE AN IMAGE IN THE WORLD.
        
    </h3>
</div>
    
</body>
</html>