<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css1.css">
    <style>
        

    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">HOME PAGE</a>
                </li>
                <li>
                    <a href="/getq1">QUIZ</a>
                </li>
                <li>
                    <a href="/login">LOGIN PAGE</a>
                </li>
                <li>
                    <a href="/register">REGISTRATION</a>
                </li>
            </ul>
        </nav>
    </header>

    <article>
    
        <div class="container">
            <div class="image">
                <img src="../static/quiz.jpg" alt="">
            </div>
            <div class="link">
                <h2>
                    <a href="/getq1">Quiz</a>
                </h2>
            </div>
        </div>
        <div class="container">
            <div class="image">
                <img src="../static/coding.jpg" alt="">
            </div>
            <div class="link">
                <h2>
                    <a href="/coding">Coding</a>
                </h2>
            </div>
        </div>
    </article>
</body>
</html>