<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Custom Radio Buttons | CodingNepal</title>
    <link rel="stylesheet" href="../static/css1.css">
</head>
<body>
  <header>
    <nav>
        <ul>
            <li>
                <a href="/">HOME PAGE</a>
            </li>
            <li>
                <a href="/getq1">QUIZ</a>
            </li>
            <li>
                <a href="/login">LOGIN PAGE</a>
            </li>
            <li>
                <a href="/register">REGISTRATION</a>
            </li>
        </ul>
    </nav>
</header>
  <div class="wrapper">
      <form action="/q1" method="POST">
        <h2>{{message}}</h2>
        <h2>score = {{score}}</h2>
    <div class="title"><h4>Which country gave the statue of liberty to the us ?</h4></div>
    <div class="box">
      <input type="radio" name="select" id="option-1" value="1">
      <input type="radio" name="select" id="option-2" value="2">
      <input type="radio" name="select" id="option-3" value="3">
      <input type="radio" name="select" id="option-4" value="4">
      <label for="option-1" class="option-1">
        <div class="dot"></div>
        <div class="text">france</div>
      </label>
      <label for="option-2" class="option-2">
        <div class="dot"></div>
        <div class="text">
            italy
        </div>
      </label>
      <label for="option-3" class="option-3">
        <div class="dot"></div>
        <div class="text">canada</div>
      </label>
      <label for="option-4" class="option-4">
        <div class="dot"></div>
        <div class="text">denmark</div>
      </label>
      <button type="submit" class="btn">submit</button>
    </div>
</form>
  </div>
 
</body>
</html>